@font-face {
	font-family: 'Styrene';
	font-style: normal;
	font-weight: 100;
	src: local('Styrene'), 
		url('../font/StyreneAWeb-Thin.woff') format('woff'),
		url('../font/StyreneAWeb-Thin.ttf') format('ttf'),
		url('../font/StyreneAWeb-Thin.eot') format('eot');
}

@font-face {
	font-family: 'Styrene';
	font-style: normal;
	font-weight: 200;
	src: local('Styrene'), 
		url('../font/StyreneAWeb-Light.woff') format('woff'),
		url('../font/StyreneAWeb-Light.ttf') format('ttf'),
		url('../font/StyreneAWeb-Light.eot') format('eot');
}

@font-face {
	font-family: 'Styrene';
	font-style: 400;
	font-weight: regular;
	src: local('Styrene'), 
		url('../font/StyreneAWeb-Regular.woff') format('woff'),
		url('../font/StyreneAWeb-Regular.ttf') format('ttf'),
		url('../font/StyreneAWeb-Regular.eot') format('eot');
}

@font-face {
	font-family: 'Styrene';
	font-style: normal;
	font-weight: 500;
	src: local('Styrene'), 
		url('../font/StyreneAWeb-Medium.woff') format('woff'),
		url('../font/StyreneAWeb-Medium.ttf') format('ttf'),
		url('../font/StyreneAWeb-Medium.eot') format('eot');
}

@font-face {
	font-family: 'Styrene';
	font-style: normal;
	font-weight: 700;
	src: local('Styrene'), 
		url('../font/StyreneAWeb-Bold.woff') format('woff'),
		url('../font/StyreneAWeb-Bold.ttf') format('ttf'),
		url('../font/StyreneAWeb-Bold.eot') format('eot');
}

@font-face {
	font-family: 'Styrene';
	font-style: normal;
	font-weight: 900;
	src: local('Styrene'), 
		url('../font/StyreneAWeb-Black.woff') format('woff'),
		url('../font/StyreneAWeb-Black.ttf') format('ttf'),
		url('../font/StyreneAWeb-Black.eot') format('eot');
}



