{% extends "base.html" %}

{% block title %} Карта {% endblock %}

{% block content %}

<div class="map">
   <div class="map__inner">
    <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Aeee2f6ccd7f2d8db5030898d1b62ec20ace96ef6cd26d221a65d33b7c29f047d&amp;width=100%25&amp;&amp;lang=ru_RU&amp;scroll=true"></script>
    </div>
</div>

<script>
    document.body.onload = function() {
        document.body.style.padding = "0px";
    }
</script>

{% endblock %}
