{% extends "base.html" %}

{% block title %} Сканер {% endblock %}

{% block content %}
   <div class="recogniser">
       <div id="reader" width="600px"></div>
   </div>
   
   <script src="https://unpkg.com/html5-qrcode" type="text/javascript"></script>
   
    <script type="text/javascript">
        let scan = true;
        
        function onScanSuccess(decodedText, decodedResult) {
          if (scan) {
            window.location.replace(decodedResult["decodedText"]);
            scan = false;
          }
        }

        function onScanFailure(error) {
          // handle scan failure, usually better to ignore and keep scanning.
          // for example:
          console.warn(`Code scan error = ${error}`);
        }

        let html5QrcodeScanner = new Html5QrcodeScanner(
          "reader",
          { fps: 10, qrbox: {width: 250, height: 250} },
          /* verbose= */ false);
        html5QrcodeScanner.render(onScanSuccess, onScanFailure);
    </script>
    
    <script>
        document.body.onload = function() {            
            document.body.style.padding = "0px";
            document.body.style.overflowX = "hidden";
            document.querySelector(".scanner-btn").style.display = "none";
            document.getElementById("html5-qrcode-button-camera-permission").innerHTML = "<i class='fa-solid fa-camera'></i>Использовать мою камеру";
        }
    </script>
    
{% endblock %}